html, body { height: 3000px;}

#container, #content {
  margin: 0 auto;
  position: relative;
}

header {
  padding-top: 1000px;
  padding-bottom: 500px;
  outline: 1px solid black;
}

p {
  outline: 1px solid black;
  font-size: 24px;
  font-family: Helvetica;
}

.boxes {
  position: absolute;
  left: 50%;
  width: 540px;
  margin-left: -270px;
  margin-top: 500px;
}

.box {
  width: 50px;
  height: 50px;
  margin: 50px auto;
  background-color: red;
  margin-right: 50px;
  float: left;
  /*transition: all .05s linear;*/
}

#black .box {
  background-color: rgba(0,0,0,0.25);
}

#green .box {
  background-color: rgba(0,0,255,0.5);
}